body.main {
    background-color:#fbf9f4   
}

header.header {
    margin: 5% 10px 10px 10px;
}

img.header-img {  
    display: block;   
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    padding-left: 0px;
    padding-right: 0px;
}

.bg-primary {
    background-color: #fbf9f4 !important;
    /* background-color: gray !important; */        
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: Red;
}

.navbar-dark .navbar-nav .nav-link {
    color: black;
}

.navbar-dark .navbar-nav a.nav-link:hover{
    color: red;
}

.navbar-dark .navbar-nav a.nav-link.disabled:hover {
    color: #636363
}

.navbar-dark .navbar-nav a.nav-link.disabled {
    color: #636363;
}

.navbar-dark .navbar-toggler {
    color:  black;
}

.navbar-dark .navbar-toggler:hover {
    color:  red;
}

.navbar-dark .navbar-toggler:focus {
    outline: none;
}

.navbar-toggler {
    font-size: 15px;
}

/* .navbar.stick-left {
    padding-left: 0px;
} */

.stick-left {
    padding-left: 0px;
}

hr.hr-header {
    margin-top: 0px;
    border: 2;
    border-color: red;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0px;
    padding-right: 30px;
}

.rec-left {
    margin-bottom: 10px;
    width: 100%;
    height: 400px;
    background: blue;
}

.rec-right {
    margin-bottom: 10px;
    width: 100%;
    height: 300px;
    background: green;
}

.rec-small{
    margin-bottom: 10px;
    width: 100%;
    max-width: 200px;
    height: 200px;
    background: purple; 
}

div.main-category {
    margin-left: 10px;
    margin-right: 10px;
}